@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=Montserrat:wght@600&family=Open+Sans&display=swap');

:root {

    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --text-color: #333;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;

}


h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: rgba(182, 216, 82, 0.6);
}


section {
    display: inline-block;
    gap: 20px;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

section figure {
    display: inline-block;
    margin: 0 10px;
    text-align: center;

}


footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}


footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;

}

address {
    font-style: normal;
    margin-bottom: 20px;
}

iframe {
    margin-top: 10px;
    max-width: 100%;
}

figure {
    margin: 20px;
    text-align: center;
}

figcaption {
    margin-top: 10px;
}

form {
    display: grid;
    gap: 10px;
}

button[type="submit"] {
    background-color: #0077CC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #005599;
}