@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&family=Montserrat:wght@600&family=Open+Sans&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --white-color: #fff;
    --border-radius: 4px;
    --transition-speed: 0.3s;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: var(--text-color);
}

.site-header,
.site-footer {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    text-align: center;
}

.main-nav a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: background-color var(--transition-speed);
}

.main-nav a:hover {
    background-color: var(--primary-color);
}

h1 {
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
}

.employee {
    display: inline-block;
    margin: 1rem;
    text-align: center;
}

.employee img {
    width: 150px;
    border-bottom: 1px solid #d0d4d9;
}

.employee figcaption {
    margin-top: 0.5rem;
}

address {
    font-style: normal;
    margin: 1rem 0;
}

iframe {
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

form {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    align-items: center;
}

label,
input[type="radio"],
input[type="checkbox"],
select,
textarea {
    grid-column: 1;
    align-self: start;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    grid-column: 2;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
    grid-column: 2;
}

button[type="submit"],
input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed);
    display: block;
    width: 150px;
    margin: 0 auto;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background-color: #005599;
}

input[type="radio"] {
    margin-left: 250px;
    vertical-align: middle;
}

@media (max-width: 768px) {

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        max-width: 100%;
    }

    form {
        grid-template-columns: 1fr;
    }
}